<app-navbar></app-navbar>
<div class="container-fluid-body">
<div class='color-overlay '></div>
  
<div class='heading '>
<h1 class='fw-bold' >Find Your Book Of Choice</h1>
<p class='mt-4'>One of the many gifts that books give readers is a connection to each other.When we share <br/> an affection for a writer,an another or a story,we also have a better understanding of people unlike ourselves.<br/>Books cultivate emapthy</p>
<Form class="d-flex m-auto" style="width:35%;">
                 
                  <!-- <Button variant="outline-success">Search</Button> -->
                </Form>
               
</div>

</div>




