<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <i class="fa-solid fa-book fs-4 ms-5"></i>
      <a class="navbar-brand fw-bold fs-3 ms-2" href="#">BookHub</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-4">
          <li class="nav-item">
            <a class="nav-link active fw-bold fs-5" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" href="" routerLink="/user/book">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" href="" routerLink="/member/details">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" href="" routerLink="/user/assign">Assignbook</a>
          </li>
         
         
         
          
          <li class="nav-item">
            <a class="nav-link fw-bold fs-5" href="" routerLink="/user/report">Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
